<a href="https://colab.research.google.com/github/niltontac/EspAnalise-EngDados/blob/master/Amazonia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
dataset=pd.read_csv("https://raw.githubusercontent.com/niltontac/projetoIAD/master/amazon.csv",encoding = "ISO-8859-1")

In [28]:
dataset.columns

Index(['year', 'state', 'month', 'number', 'date'], dtype='object')

In [29]:
dataset.head()

   year state    month  number        date
0  1998  Acre  Janeiro     0.0  1998-01-01
1  1999  Acre  Janeiro     0.0  1999-01-01
2  2000  Acre  Janeiro     0.0  2000-01-01
3  2001  Acre  Janeiro     0.0  2001-01-01
4  2002  Acre  Janeiro     0.0  2002-01-01

In [30]:
dataset.dtypes

year        int64
state      object
month      object
number    float64
date       object
dtype: object

In [31]:
dataset.shape

(6454, 5)